body {
  background-color: #792a7f;
  color: #ffffff;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  /* background-image: linear-gradient(to right, #ea733b, #7a2e70); */
}

a {
  color: #ffffff;
}

a:hover {
  /* color: #f897ff; */
  color: #ffffff;
}

.btn-primary {
  border-color:#ea733b;
  background-color: #ea733b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  border-color:#ea733b;
  background-color: #ea733b;
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle{
  border-color:#ea733b;
  background-color: #ea733b;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
}

.btn-outline-primary {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
  border-color:#ea733b;
  background-color: #ea733b;
}

.btn-outline-primary:hover {
  /* background-image: linear-gradient(to right, #ea733b, #7a2e70); */
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
  border-color:#ea733b;
  background-color: #ea733b;
}

.btn-outline-primary:active {
  /* background-image: linear-gradient(to right, #ea733b, #7a2e70); */
  border-color:#ea733b;
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus{
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  /* background-image: linear-gradient(to right, #ea733b, #7a2e70); */
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
  border-color:#ea733b;
  background-color: #ea733b;
}

.navbar {
  z-index: 1;
}

.navbar .navbar-brand {
  color: #ffffff;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #f897ff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #f897ff;
}

.form-control:focus {
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
}

.search-bar .form-control:focus {
  box-shadow: 0 0 0 .2rem rgb(215, 65, 227);
}

.search-bar {
  margin-top: 20px;
}

.logo-link {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.vertically-center-outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.vertically-center-middle {
  display: table-cell;
  vertical-align: middle;
}

.vertically-center-inner {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

.text-below-search-bar {
  text-align: right;
}

h2.h2-small {
  font-size: 1.25rem;
}

.form-group.error input, .form-group.error select {
  box-shadow: 0 0 0 .2rem rgb(227, 65, 105);
}

.form-group.error label::after {
  content: "*"
}

.form-feedback.hidden{
  display: none;
}

.form-feedback.shown{
  display: block;
}

form.person-details {
  position: relative;
}

form.person-details .form-group .btn-primary[type="submit"] {
  margin-top: 34px;
}

form.person-details .form-feedback {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  bottom: 34px;
}

.assessments > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.assessments > ul > li {
  display: inline-block;
}

.assessments > ul > li a {
  display: block;
  background-image: linear-gradient(to right, #ea733b, #7a2e70);
  border: 2px solid #ea733b;
  padding: 40px;
  text-transform: uppercase;
}

.assessments > ul > li a:hover {
  text-decoration: none;
  /* background-image: linear-gradient(to right, #7a2e70, #ea733b); */
}

form.depression-metrics label {
  cursor: pointer;
  display: block;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  /* background-image: linear-gradient(to right, #ea733b, #7a2e70); */
  background-color: #7a2e70;
  transition: background-color 0.4s ease, color 0.4s ease;
  /* background-color: #ea733b; */
}

form.depression-metrics label:hover {
  background-image: none;
  background-color: #ffffff;
  color: #7a2e70;
  /* background-image: linear-gradient(to right, #ea733b, #7a2e70); */
}

form.depression-metrics label.active {
  background-color: #ea733b;
}

form.depression-metrics label.active:hover {
  color: #ffffff;
}

form.depression-metrics ul {
  list-style: decimal;
  padding-left: 15px;
  margin-bottom: 60px;
}

form.depression-metrics .question {
  margin-top: 60px;
}

form.depression-metrics label input[type="radio"] {
  visibility: hidden;
}

form.depression-metrics p{
  margin-bottom: 60px;
  text-align: center;
}

form.depression-metrics p .btn{
  display: inline-block;
}

.result-page h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.result-page .contaner {
  width: 60%;
}

.result-page p .bold {
  font-weight: bold;
}

.result-page table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.result-page table th, .result-page table td {
  border: 1px solid #2e0030;
  padding: 15px;
}

.result-page form {
  width: 100%;
}

.result-page form textarea {
  width: 100%;
  padding: 15px;
}

.result-page .submit-btn-container {
  text-align: left;
  margin-bottom: 3em;
}

.result-page .submit-btn-container .btn {
  display: inline-block;
  font-style: bold;
  padding-top: 20;
  padding-bottom: 20;
  margin-top: 10px;
}

.result-page .print-btn-container {
  text-align: right;
}

.result-page .print-btn-container .btn {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

@media print {
  .result-page .container {
    width: 60%;
  }

  .result-page table {
    width: 60%;
  }

  .result-page h1 {
    text-align: left;
  }

  .result-page .print-btn-container {
    display: none;
  }
  .result-page .submit-btn-container {
    display: none;
  }
  .result-page form textarea {
    display: none;
  }
}